/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2016, 3:30:40 PM
    Author     : desperate chris
*/
/*body{
    background-color: ;
    margin-top: 150px;
        background-image: url('../img/rolo2.jpg');
        background-size: 50%;
        background-repeat: no-repeat;
    background-color: #666600;
}*/
a:link {
    text-decoration: none;
}
a:hover {
    color: red;
}

a h1 {
    color: #ec971f;
    text-decoration: none;
    font-family: 'Walter Turncoat', cursive;
    font-size: 40px;;
    font-weight: 150px;
    margin-top: 40px;

}
span.glyphicon-home {
    font-size: 2em;
    color: #ec971f;
    padding-right: 10px;
}
.img-responsive {
    height: 120px;
    width: 350px;
    margin-left: px;
}
.nav navbar-nav {
    font-family: 'Glyphicons Halflings';
    src: url('/fonts/glyohicons-halflings-regular.eot');
}
.attached-tag a {
    color: white;
}
.modal-wide .modal-body{
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.modal.modal-wide .modal-dialog {
    width: 70%;
    word-wrap: break-word;
}

.modal.modal-wide .panel-body{
    width: auto;
    word-wrap: break-word;

}
#clear-pages-button {
   padding: 3px 10px;
}

/*draggable navbar ui */

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px; 
}
/*changed from # */
#sortable li { 
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left;
    width: 100px;
    text-align: center;
    font-size: 1.5em; 
    height: 50px; 
    border: #000;
    border-style: groove;
    border-width: 1px;
    background-color: white;
}

/*#sortable li span { 
    position: absolute; 
    margin-left: -1.3em; 
}*/


/*.tag {
    width: 20px;
    text-transform: lowercase;
    border:#999;
    border-style: solid;
    padding: 0px;
}*/

/* displays dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

#nav {
  position:relative;
  z-index:1;
}

/*@media only screen and (min-width:0px) {
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position: relative !important;
}

.dropdown-submenu>.dropdown-menu {
    top: 0 !important;
    left: 100% !important;
    margin-top: -6px !important;
    margin-left: -1px !important;
    border-radius: 0 !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block !important;
}

.dropdown-submenu>a:after {
    display: block;
    content: "\f105";
    font-family: 'FontAwesome';
    margin-top: -18px;
    right: 15px;
    position: absolute;
    font-weight: 300;
}
}*/

.admin-box {
    width:50px;
}
