/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2016, 3:30:40 PM
    Author     : desperate chris
*/
/*body{
    background-color: ;
    margin-top: 150px;
        background-image: url('../img/rolo2.jpg');
        background-size: 50%;
        background-repeat: no-repeat;
    background-color: #666600;
}*/

.navbar-fixed-bottom {
    /*    background-color: #eaa748 for browsers that do not support gradients */
    background: -webkit-linear-gradient(top, rgba(234, 167, 72, 0), rgba(234, 167, 72, 1));
    background: -o-linear-gradient(top ,rgba(234,167,72,0), top(234,167,72,1));
    background: -moz-linear-gradient(top, rgba(234, 167, 72, 0), rgba(234, 167, 72 ,1));
    height: 35px;
    margin: 0;
    padding-bottom: 10px;
    font-size: 0.85em;
}

.spinnaz {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 0.5s linear infinite;
    -moz-animation:spin 0.5s linear infinite;
    animation:spin 0.5s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


body {
    margin-bottom: 66px;
    height: 100%;
}

html {
    height: 100%;
}

a:link {
    text-decoration: none;
}
a:hover {
    color: red;
}

a h1 {
    color: #ec971f;
    text-decoration: none;
    font-family: 'Walter Turncoat', cursive;
    font-size: 40px;
    font-weight: 150px;
    margin-top: 40px;

}
span.glyphicon-home {
    font-size: 2em;
    color: #ec971f;
    padding-right: 10px;
}
.img-responsive {
    height: 120px;
    width: 350px;
    margin-left: px;
}
.nav navbar-nav {
    font-family: 'Glyphicons Halflings';
    src: url('/fonts/glyohicons-halflings-regular.eot');
}
.attached-tag a {
    color: white;
}
.modal-wide .modal-body{
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.modal.modal-wide .modal-dialog {
    width: 70%;
    word-wrap: break-word;
}

.modal.modal-wide .panel-body{
    width: auto;
    word-wrap: break-word;

}

#tag-box-input {
    height: 27px;
}

#add-tag-button, #clear-tags-button {
    background-color: silver;
    padding: 4px 8px;
    margin-bottom: 1px;
}
#clear-pages-button {
    background-color: silver;
    padding: 3px 10px;
}

#preview {
    color: black;
    background-color: silver;
    border: none;
    width: 163px;
}

#cancel  {
    color: black;
    background-color: silver;
    border: none;
    margin-top: 5px;
    padding: 5px 10px;
}

#add-edit-post {
    background-color: #ec971f;
    color: black;
    border: none;
    margin-top: 5px;
    padding: 5px 10px;
}

#add-edit-page {
    background-color: #ec971f;
    color: black;
    border: none;
    margin-top: 5px;
    padding: 5px 10px;
}

#admin {
    color: black;
    background-color: silver;
    border: none;
}

#admin1 {
    color: black;
    background-color: #ec971f;
    border: none;
}

/*draggable navbar ui */

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px; 
}
/*changed from # */
#sortable li { 
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left;
    width: 100px;
    text-align: center;
    font-size: 1.5em; 
    height: 50px; 
    border: #000;
    border-style: groove;
    border-width: 1px;
    background-color: white;
}

#nav.affix {
    z-index: 1;
    top: 0px;
    width: 80%;
}

@media (min-width: 1024px) {
    #sidebar {
        width: 360px;
    }
}

#sidebar.affix {
    z-index: 1;
    bottom: 30px;
    top: 70px;
}

/*#sidebar.affix-bottom {
    bottom: 30px;
    width: 27.5%;
}*/

@media (max-width: 768px) {
    #sidebar {
        position: relative;
    }      
}

.admin-box {
    width:50px;
}

/* for glyphicon input styling */
.inner-addon {
    position: relative;
}
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}
